# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore

.git/
.gitignore

# Go vendoring directory
vendor/

# Local dev scripts
scripts/launch_dev_appserver.py
scripts/launch_firebase_emulator.py

# IDE directories
.idea/

# Firebase debug logs
**-debug.log
